<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>:root {
	--color-shadow: rgb(204 177 161 / 60%);
}
body {
	overflow-x: hidden;
}

#nexmoe-content .nexmoe-post-footer {
	background-color: transparent;
}
